.filter {
    display: flex;
    align-items: center;
}

.filterSelect{
    margin-bottom: 15px;
    padding: 10px;

    height: auto;
    width: 100%;

    border-right: 5px solid transparent;
    outline: 1px solid #fff;
    background: #191721;
    color: #fff;

    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 133.5%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}