.input {
    margin-bottom: 15px;
    padding: 10px;

    height: auto;
    width: 100%;

    border-right: 5px solid transparent;
    outline: 1px solid #fff;
    background: #191721;
    color: #fff;

    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 133.5%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 133.5%;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.input:disabled::placeholder {
    color: rgba(255, 255, 255, 0.315);
}

.input--login {
    padding: 15px;
  
    width: 100%;
    height: 45px;
    background: #fff8f81a;
    border: none;
    outline: none;
  
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 133.5%;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .input--login ::placeholder {
    color: #fff;
  }
  
  .input-error {
    background: #f129551a;
  }